/* div{
    background-color: rgb(15, 5, 5);
    height: 60px;
}
.title{
    color: rgb(182, 122, 11);
    font-family: 'Times New Roman', Times, serif;
} */

span{
    color: white;

}

#out{
    height: 500px;
    width: 200px;
    background-color: pink;
    padding-top: 20px;
    padding-left: 45px;
}

.r1{
    color: white;
    background-color: red;
    border: 2px, solid, grey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}
.r2{
    color: black;
    background-color: yellow;
    border: 2px, solid, grey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: calc(12);
    padding: 10px;
}

.r3{
    color: white;
    background-color: green;
    border: 2px, solid, black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}